* {
  margin:0px;
  color: brown;
  background-color: bisque;
  padding:0px;
}

#octocat {
  display: block;
  color: aquamarine;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Ariel","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
